//header

header {
  background-color: #000;
}

.logo-header {
  width: 100px;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  display: flex;
  gap: 2.5rem;
}